[user]
	name = LukeStorry
	email = luke.storry@gmail.com
[core]
	editor = vim
	autocrlf = input

[color]
	ui = true
[branch]
	autosetuprebase = always
[credential]
	helper = cache --timeout=10000000
	default = simple
