[user]
	name = LukeStorry
	email = luke@lukestorry.co.uk
[core]
	editor = vim
	autocrlf = input

[color]
	ui = true
[branch]
	autosetuprebase = always
[credential]
	helper = cache --timeout=2628000
	default = simple
